.buttonDiv{
    width: 100%;
    height: fit-content;
    background-color: #D83737;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registerDiv{
    padding: 15px;
}

.loginIn{
    border: 0;
    padding: 15px 30px;
    margin: 0 10px;
    border-radius: 10px;
}

.signUp{
    border: 0;
    padding: 15px 30px;
    border-radius: 10px;
}

.buttonLeft{
    padding: 15px;
}

.buttonLeft i{
    font-size: 4em;
    color: white;
}

.buttonLeft .iconText{
    font-size: 7px;
    color: black;
    bottom: 16px;
    left: 17px;
}