/* navBar */
.buttonDiv{
    width: 100%;
    height: fit-content;
    background-color: #D83737;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.registerDiv{
    padding: 15px;
}

.loginIn{
    border: 0;
    padding: 15px 30px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

.loginIn:hover{
    padding:  20px 35px;
    transition: 0.5s;
}

.signUp{
    border: 1px solid #f29999;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #D83737;
    color: white;
    cursor: pointer;
}

.signUp:hover{
    background-color: #f29999;
    color: black;
    transition: 0.5s;
}

.buttonLeft{
    padding: 15px;
    cursor: pointer;
}

.buttonLeft i{
    font-size: 2.5em;
    color: white;
    margin-left: 15px;
}

.projectTitle{
    font-family: cursive;
    font-weight: bold;
    color: white;
    font-size: 2.5em;
    margin: 0 0.5em;
}

/* slogan and home page img */
.rowForImgSlogan{
    margin-top: 120px;
}

.homePageTaxiPho img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0 2px 5px black;
}

.slogan{
    border-radius: 30px;
    box-shadow: 0 0 10px #D83737;
}

.cursor {
    background-color: black;
    width: 5px;
    height: 100%;
    display: none;
}

#textOutput{
    font-size: 30px;
    font-family: serif;
}


/* footer */
footer{
    width: 100%;
    height: 250px;
    background-color: black;
    padding: 50px 0;
}

.footerContainer{
    text-align: center;
}

.socialDiv .socialButtonDiv{
    width: 2.5em;
    height: 2.5em;
    background-color: white;
    border-radius: 1.25em;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.socialDiv .socialButtonDiv:hover{
    cursor: pointer;
}

.socialDiv .socialButtonDiv i{
    font-size: 25px;
}

.copyRightText{
    color: grey;
}

