/* navbar */
.buttonDiv{
    width: 100%;
    height: fit-content;
    background-color: #D83737;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registerDiv{
    padding: 15px;
}

.logout{
    border: 0;
    padding: 15px 30px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

.logout:hover{
    padding:  20px 35px;
    transition: 0.5s;
}

.setting{
    border: 1px solid #f29999;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #D83737;
    color: white;
    cursor: pointer;
}

.setting:hover{
    background-color: #f29999;
    color: black;
    transition: 0.5s;
}
.joinRoom{
    border: 1px solid #f29999;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #D83737;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.joinRoom:hover{
    background-color: #f29999;
    color: black;
    transition: 0.5s;
}

.buttonLeft{
    padding: 15px;
    cursor: pointer;
}

.buttonLeft i{
    font-size: 2.5em;
    color: white;
    margin-left: 15px;
}

.projectTitle{
    font-family: cursive;
    font-weight: bold;
    color: white;
    font-size: 2.5em;
    margin: 0 0.5em;
}


.button{
    color: #000000;
    background-color: #D83737;
}

#acceptBtn{
    background-color: red;
    border: 0px
}
.card{
    padding: 10px;
    margin: 5px;
}
.card p{
    text-align: center;
}

.btn-primary{
    color: #ffffff;
    background-color: #dc3545;
    border: none;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #DC3545;
    border-radius:10px
}

#display{
    display: flex;
    height: 80px;
    align-items: flex-end;
}

.card-title{
    height: 4em;
}
.card-subtitle{
    height:2em
}

.noOrder{
    width: 800px;
    height: 500px;
    border: 1px solid #D83737;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* footer */
footer{
    width: 100%;
    height: 350px;
    background-color: black;
    padding: 50px 0;
}

.footerContainer{
    text-align: center;
}

.socialDiv .socialButtonDiv{
    width: 2.5em;
    height: 2.5em;
    background-color: white;
    border-radius: 1.25em;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.socialDiv .socialButtonDiv:hover{
    cursor: pointer;
}

.socialDiv .socialButtonDiv i{
    font-size: 25px;
}

.copyRightText{
    color: grey;
}
#logout{
    border: 0;
    padding: 15px 30px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

#logout:hover{
    padding:  20px 35px;
    transition: 0.5s;
}