/* .timeline-item{
    --img-size: 5em ;
}

.timeline-outer{
    background-color: #f29999;
    width: calc(width(--img-size)*1.8)

}

.timeline-inner{
    width : var(--img-size);
    height: var(--img-size);
    border-radius: 80px


} */

/* .button{
    color: #000000;
    background-color: #D83737;
}  */
/* 
#acceptBtn{
    background-color: red;
    border: 0px
}
.card{
    padding: 10px;
    margin: 5px;
} */



/* navbar */
.buttonDiv{
    width: 100%;
    height: fit-content;
    background-color: #D83737;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registerDiv{
    padding: 15px;
}

.logout{
    border: 0;
    padding: 15px 30px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

.logout:hover{
    padding:  20px 35px;
    transition: 0.5s;
}

.setting{
    border: 1px solid #f29999;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #D83737;
    color: white;
    cursor: pointer;
}

.setting:hover{
    background-color: #f29999;
    color: black;
    transition: 0.5s;
}

.buttonLeft{
    padding: 15px;
    cursor: pointer;
}

.buttonLeft i{
    font-size: 2.5em;
    color: white;
    margin-left: 15px;
}

.projectTitle{
    font-family: cursive;
    font-weight: bold;
    color: white;
    font-size: 2.5em;
    margin: 0 0.5em;
}

.btn-primary{
    color: #ffffff;
    background-color: #dc3545;
    border: none;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #DC3545;
    border-radius:10px
}

.img{
    /* display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    margin-left: 400px; */
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.buttonRow{
    display: flex;
    justify-content: space-around;
}

.order{
    display: flex;
    justify-content: center;
}

body p{
font-weight: bold;
}
body span{
    text-decoration: underline;
}
.card{

    margin: 20px;
    padding: 10px;
    border: solid 1px #DC3545 ;
    border-radius: 10px;
}
/* .row{
    display: flex;
    justify-content: space-around;
}


/* .button{
    background-color: red;
    color: white;
    /* border: none; */

/* } 