/* @font-face {
    font-family: 'League Gothic';
  
    src: url(https://www.cssigniter.com/vip/acoustic/wp-content/themes/acoustic/fonts/leaguegothic-regular-webfont.eot);
    src: url('https://www.cssigniter.com/vip/acoustic/wp-content/themes/acoustic/fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url(https://www.cssigniter.com/vip/acoustic/wp-content/themes/acoustic/fonts/leaguegothic-regular-webfont.woff) format('woff'),
         url(https://www.cssigniter.com/vip/acoustic/wp-content/themes/acoustic/fonts/leaguegothic-regular-webfont.ttf) format('truetype'),
         url('https://www.cssigniter.com/vip/acoustic/wp-content/themes/acoustic/fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    
  } */

  .buttonDiv{
    width: 100%;
    height: fit-content;
    background-color: #D83737;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'League Gothic';
    
  }
 
  .registerDiv{
    padding: 15px;
  }
  
  .loginIn{
    border: 0;
    padding: 15px 30px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
  }
  
  .loginIn:hover{
    padding:  20px 35px;
    transition: 0.5s;
  }
  
  .signUp{
    border: 1px solid #f29999;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #D83737;
    color: white;
    cursor: pointer;
  }
  
  .signUp:hover{
    background-color: #f29999;
    color: black;
    transition: 0.5s;
  }
  
  .buttonLeft{
    padding: 15px;
    cursor: pointer;
  }
  
  .buttonLeft i{
    font-size: 2.5em;
    color: white;
    margin-left: 15px;
  }
  .projectTitle{
    font-family: 'League Gothic';
    font-weight: bold;
    color: white;
    font-size: 2.5em;
    margin: 0 0.5em;
  }
  footer{
    width: 100%;
    height: 250px;
    background-color: black;
    padding: 50px 0;
  }
  
  .socialDiv .socialButtonDiv{
    width: 2.5em;
    height: 2.5em;
    background-color: white;
    border-radius: 1.25em;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  
  .socialDiv .socialButtonDiv:hover{
    cursor: pointer;
  }
  
  .socialDiv .socialButtonDiv i{
    font-size: 25px;
  }
  
  .copyRightText{
    color: grey;
  }
  .profileImage img{
      width: 450px;
      height: 600px;
  }
  .middleImage img{
      width: 400px;
      height:600px;
  }
  .travellerSubmit .button{
    width: 10em;
    height: 3em;
    border: 1px solid #D83737;
    color: #D83737;
    font-family: 'League Gothic';
    font-size: 1.5em;
    font-weight: 600;
  }
  .travllerEdit .button{
    width: 10em;
    height: 3em;
    border: 1px solid #D83737;
    color: #D83737;
    font-family: 'League Gothic';
    font-size: 1.5em;
    font-weight: 600;
  }
  .form-control{
      border: 1px solid #D83737;
      
  }
  .form-select{
      width:70em;
      border: 1px solid #D83737;
      font-family: 'League Gothic';
      height:3em;
      font-size: 17px;
  }
  .col-form-label{
    font-family: 'League Gothic';
    font-weight: 600;
  }
  input{
    font-family: 'League Gothic';
    font-size:1em;
    font-weight:1000;
  }
 
  .form-check-label{
    font-family: 'League Gothic';
    padding-bottom: 1em;
  }

  .roleSelectContainer {
      padding-top:20px;
      height: 600px;
      display: flex;
      justify-content:space-around;
      align-items:center;
      
  }

.driverSelector button{
    width: 450px;
    height: 220px;
    margin-left: 20px;
    border: 1px solid #D83737;
    border-radius: 8px;
    color: #D83737;
    font-family: 'League Gothic';
    font-size: 1.5em;
    font-weight: 600;
    background-color:white;
    cursor: pointer;
}

.driverSelector button:hover{
    width: 500px;
    height:280px;
    transition: 0.5s;
}

.passengerSelector button{
    width: 450px;
    height: 220px;
    border: 1px solid #D83737;
    border-radius: 8px;
    color: #D83737;
    font-family: 'League Gothic';
    font-size: 1.5em;
    font-weight: 600;
    background-color:white;
    cursor: pointer;
}
.passengerSelector button:hover{
    width: 500px;
    height:280px;
    transition: 0.5s;
}
.uploadLicense{
    width: 100%;
    height: 500px;
    border: 1px solid #D83737;
    font-family: 'League Gothic';
}
.driverCancel .button {
    width: 69px;
    height: 2em;
    border: 1px solid #D83737;
    color: #D83737;
    font-family: 'League Gothic';
    font-size: 1.5em;
    font-weight: 600;
}

.driverSave .button {
    width: 69px;
    height: 2em;
    border: 1px solid #D83737;
    color: #D83737;
    font-family: 'League Gothic';
    font-size: 1.5em;
    font-weight: 600;
}
.custom-file-upload{
    width: 10em;
    /* height: 3em; */
    font-family: 'League Gothic';
    font-size: 1.5em;
    font-weight: 600;
}
.uploadLicense{
    border-radius: 10px;
}
::-webkit-file-upload-button{
  background-color: white;
  border-radius: 10px;
  border: solid 1px#D83737;
  margin-bottom: 1em;
    font-family: 'League Gothic';
    font-size: 1em;
    font-weight: 600;
    
}
.uploadButtonRow{
  padding-left: 1em;
}
.uploadImg{
  display:flex;
  justify-content: center;
  height:350px;
}
.uploadImg img{
  max-height:350px;
}
@media only screen and (max-width: 1300px) {
  .profileImage img{
    width: 0;
    height: 500px;
    }
    .middleImage img{
      width:0;
      height: 500px;
    }
}
@media only screen and (max-width: 1600px) {
  .profileImage img{
    
    height: 500px;
    }
    .middleImage img{
     
      height: 500px;
    }
}
@media only screen and (max-width: 375px) {
  .uploadImg{
    width: 100px;
  }
.profileImage{
  height: 500px;
}
.middleImage{
  height: 500px;
}
    
}
.profile{
  width:fit-content;
}