@font-face {
  font-family: 'League Gothic';

  src: url(https://www.cssigniter.com/vip/acoustic/wp-content/themes/acoustic/fonts/leaguegothic-regular-webfont.eot);
  src: url('https://www.cssigniter.com/vip/acoustic/wp-content/themes/acoustic/fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url(https://www.cssigniter.com/vip/acoustic/wp-content/themes/acoustic/fonts/leaguegothic-regular-webfont.woff) format('woff'),
       url(https://www.cssigniter.com/vip/acoustic/wp-content/themes/acoustic/fonts/leaguegothic-regular-webfont.ttf) format('truetype'),
       url('https://www.cssigniter.com/vip/acoustic/wp-content/themes/acoustic/fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
  font-weight: normal;
  
}
.buttonDiv{
  width: 100%;
  height: fit-content;
  background-color: #D83737;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'League Gothic';
  
}

.registerDiv{
  padding: 15px;
}

.loginIn{
  border: 0;
  padding: 15px 30px;
  /* margin: 0 10px; */
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
}

.loginIn:hover{
  padding:  20px 20px;
  transition: 0.5s;
}

.signUp{
  border: 1px solid #f29999;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #D83737;
  color: white;
  cursor: pointer;
}

.signUp:hover{
  background-color: #f29999;
  color: black;
  transition: 0.5s;
}

.buttonLeft{
  padding: 15px;
  cursor: pointer;
}

.buttonLeft i{
  font-size: 2.5em;
  color: white;
  margin-left: 15px;
}
.projectTitle{
  font-family: 'League Gothic';
  font-weight: bold;
  color: white;
  font-size: 2.5em;
  margin: 0 0.5em;
}
footer{
  width: 100%;
  height: 250px;
  background-color: black;
  padding: 50px 0;
}

.socialDiv .socialButtonDiv{
  width: 2.5em;
  height: 2.5em;
  background-color: white;
  border-radius: 1.25em;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.socialDiv .socialButtonDiv:hover{
  cursor: pointer;
}

.socialDiv .socialButtonDiv i{
  font-size: 25px;
}

.copyRightText{
  color: grey;
}
.registerPhoto img{
  width: 1000px;
  height: 1000px;
}
button {
  width: 228px; 
  border-radius: 10px;
  margin: 5px;
  
}
button a{
  text-decoration: none;
}
#RegisterButton{
  border-radius: 10px;
  background-color:#D83737;
  color:#ffffff;
  border:solid 1px #ffffff;
}
#RegisterButton:hover{
  border-radius: 10px;
  background-color:#f29999;
  color:#ffffff;
}
#SignInButton{
  border-radius: 10px;
  background-color:#ffffff;
  color:#D83737;
  border:solid 1px #ffffff;
}
#SignInButton:hover{
  border-radius: 10px;
  background-color:#f29999;
  color:#ffffff;
}


.largeContainer{
  align-items: center;
  width: 80%;
 justify-content: center;
  display: flex;
  align-self: center;
  
}

@media only screen and (max-width: 450px) {
  .largeContainer{
  
  width: 80%;
 justify-content: center;
  display: flex;
  }
}

.loginContainer{
  width: 50em;
  font-family: 'League Gothic';
  font-size: large;
  }
  .loginContainer h2{
    font-family: 'League Gothic';
    font-size:5em;
    }
.dropdown{
  margin-bottom: 5em;
}

/* mobile responsive */
  @media only screen and (max-width: 1900px) {
    .loginContainer{
      width: 30em;
      }
  }

  @media only screen and (max-width: 1900px) {
    .registerPhoto img{
      width: 800px;
    }
  }
  @media only screen and (max-width: 1343px) {
    .registerPhoto img{
      width: 0;
      height: 500px;
      }
      .registerContainer{
      
        justify-content:center;
      }
  }

.navbar-toggler{
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 30px;
}
.hamburger{
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
}
.buttonDiv .navbarContainer{
  display:flex;
  justify-content:space-around;
}