/* navbar */
.buttonDiv{
    width: 100%;
    height: fit-content;
    background-color: #D83737;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registerDiv{
    padding: 15px;
}

.logout{
    border: 0;
    padding: 15px 30px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

.logout:hover{
    padding:  20px 35px;
    transition: 0.5s;
}

.setting{
    border: 1px solid #f29999;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #D83737;
    color: white;
    cursor: pointer;
}

.setting:hover{
    background-color: #f29999;
    color: black;
    transition: 0.5s;
}
.joinRoom{
    border: 1px solid #f29999;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #D83737;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.joinRoom:hover{
    background-color: #f29999;
    color: black;
    transition: 0.5s;
}

.buttonLeft{
    padding: 15px;
    cursor: pointer;
}

.buttonLeft i{
    font-size: 2.5em;
    color: white;
    margin-left: 15px;
}

.projectTitle{
    font-family: cursive;
    font-weight: bold;
    color: white;
    font-size: 2.5em;
    margin: 0 0.5em;
}

/* main content */

#map{
    height: 550px;
    border-radius: 10px;
}

.location{
    margin: 70px 0;
}

.locationBox{
    border: 2px solid #D83737;
    height: 3.5em;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 20px;
    font-family: serif;
    font-weight: bold;
}

.locationBox input{
    border: 0;
    margin-left: 10px;
    width: inherit;
}

.pickupDiv{
    margin-bottom: 80px;
}

.formSubmitButDiv{
    text-align: center;
}

.formSubmitButDiv button{
    width: 10em;
    height: 3em;
    border: 1px solid #D83737;
    color: #D83737;
}

/* requirement */

.requirement{
    padding-left: 40px;
    text-align: center;
}

.requirement h1{
    font-family: serif;
    font-size: 3em;
}

.selectionBox{
    margin-top: 50px;
    font-size: 1.2em;
}

.favAddress{
    border: 2px solid #D83737;
    height: 3em;
    border-radius: 5px;
    font-family: serif;
}

@media only screen and (max-width: 1000px) {
    .pickupDiv{
        flex-wrap: wrap;
    }
    .dropOffDiv{
        flex-wrap: wrap;
    }
    .pickupDiv .pickConfirm{
        margin-top: 10px;
    }
    .dropOffDiv .dropConfirm{
        margin-top: 10px;
    }
    .pickupDiv i{
        font-size:40px;
    }
    .dropOffDiv i{
        font-size:40px
    }
}

/* footer */
footer{
    width: 100%;
    height: 350px;
    background-color: black;
    padding: 50px 0;
}

.footerContainer{
    text-align: center;
}

.socialDiv .socialButtonDiv{
    width: 2.5em;
    height: 2.5em;
    background-color: white;
    border-radius: 1.25em;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.socialDiv .socialButtonDiv:hover{
    cursor: pointer;
}

.socialDiv .socialButtonDiv i{
    font-size: 25px;
}

.copyRightText{
    color: grey;
}
#logout{
    border: 0;
    padding: 15px 30px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

#logout:hover{
    padding:  20px 35px;
    transition: 0.5s;
}